
    <form id="changecform" name="changecform" method="post" action="/change/customer">
        <input type="hidden" name="original_url" value="{{original_url}}">
        客戶身份證：<input type="text" name="cus_idno" id="cus_idno">
        <button type="submit" class="btn btn-skin btn-s">切換客戶</button>
    </form>

